* {
  box-sizing: border-box;
}

:root {
  --white: #e0d0a0;
  --black: #101010;
  --red: #de422b;
  --sidebar-width: 94px;
  --book-width: 448px;
  --book-height: 630px;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: calc(var(--sidebar-width) * 0.8);
  font-weight: normal;
}

h2 {
  font-size: 48px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

html {
  background-color: antiquewhite;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  font-family: "Vollkorn", serif;
  color: var(--black);
}

.table {
  position: relative;
  perspective: 800px;
}

.book {
  cursor: pointer;
  position: relative;
  width: var(--book-width);
  height: var(--book-height);
  transform: translateZ(-400px) rotateY(20deg) rotateX(45deg);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.book:hover {
  transform: none;
}

.cover {
  display: flex;
  width: var(--book-width);
  height: var(--book-height);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.cover,
.side {
  position: absolute;
}

.cover .sidebar {
  height: 100%;
  background-color: var(--black);
  width: var(--sidebar-width);
}

.sidebar .text {
  padding: 0;
  margin: 0;
  line-height: var(--sidebar-width);
  color: var(--white);
  text-align: center;
}

.content {
  background-color: var(--red);
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.book-title h2 {
  margin-bottom: 20px;
}

.content .curve {
  margin-left: -100px;
  width: 100vw;
}

footer .copyright {
  position: absolute;
  bottom: 0;
  font-size: 15px;
}

.left.side {
  left: 0;
  background-color: black;
  width: 100px;
  height: var(--book-height);
  transform: rotateY(-90deg) translateZ(50px) translateX(-50px);
}

.bottom.side {
  left: 0;
  background-color: #8b8570;
  width: var(--book-width);
  height: 100px;
  transform-origin: top;
  transform: rotateX(-90deg);
  top: var(--book-height);
}
