* {
  box-sizing: border-box;
}

:root {
  --background-white: #eee3c3;
  --book-sidebar-white: #e0d0a0;
  --table-background-color: black;
  --front-side-black: #1f1f1f;
  --left-side-black: #131313;
  --red: #de422b;
  --yellow: #e6e654;
  --green: #4bc44b;
  --sidebar-width: 94px;
  --book-width: 448px;
  --book-height: 630px;
}

html {
  background-color: var(--background-white);
  font-family: "Vollkorn", serif;
  color: var(--front-side-black);
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: calc(var(--sidebar-width) * 0.8);
  font-weight: normal;
}

h2 {
  font-size: 48px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

article.my-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10vw;
  padding-right: 10vw;
}

.table {
  --scale: 0.6;

  width: fit-content;
  transform: scale(0.6) translateY(-20%);
  display: flex;
  flex-direction: row;
  background-color: var(--table-background-color);
  padding: calc(var(--book-width) * 0.1);
  gap: calc(var(--book-width) * 0.1);
}

.book-container {
  perspective: 800px;
  min-width: var(--book-width);
}

.book {
  display: block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  width: var(--book-width);
  height: var(--book-height);
  transform: translateZ(-400px) rotateY(20deg) rotateX(45deg);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.book:hover,
.book:focus {
  transform: none;
  outline: none;
}

.cover {
  display: flex;
  width: var(--book-width);
  height: var(--book-height);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.cover,
.side {
  position: absolute;
}

.cover .sidebar {
  height: 100%;
  background-color: var(--front-side-black);
  width: var(--sidebar-width);
}

.sidebar .text {
  padding: 0;
  margin: 0;
  line-height: var(--sidebar-width);
  color: var(--book-sidebar-white);
  text-align: center;
}

.content {
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.book-title h2 {
  margin-bottom: 20px;
}

footer .copyright {
  position: absolute;
  bottom: 0;
  font-size: 15px;
}

.left.side {
  background-color: var(--left-side-black);
  left: 0;
  width: 100px;
  height: var(--book-height);
  transform: rotateY(-90deg) translateZ(50px) translateX(-50px);
}

.right.side {
  background-color: #8b8570;
  left: var(--book-width);
  width: 100px;
  height: var(--book-height);
  transform: rotateY(-90deg) translateZ(50px) translateX(-50px);
}

.bottom.side {
  left: 0;
  background-color: #8b8570;
  width: var(--book-width);
  height: 100px;
  transform-origin: top;
  transform: rotateX(-90deg);
  top: var(--book-height);
}

/* Book-specific styles */

.book.one .content {
  background-color: var(--red);
}

.book.one .content .curve {
  margin-left: -100px;
  width: 100vw;
}

.book.two .content {
  background-color: var(--yellow);
}

.book.three .content {
  background-color: var(--green);
}
