* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --white: #e6dbbb;
  --black: #101010;
  --red: #ca463d;
  --active-red: #db544b;
  /* Dimensions */
  --item-size: 300px;
  --item-margin: 50px;
  --item-shadow-displacement-small: calc(var(--item-margin) / 4.5);
  --item-shadow-displacement-large: calc(var(--item-margin) / 3);

  /* Font sizes */
  --one: 3.052rem;
  --two: 2.441rem;
}

html {
  background-color: var(--black);
  font-family: "Breite Grotesk Regular";
  display: flex;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

article > h1 {
  font-size: var(--one);
  color: var(--white);
  padding-left: 1em;
}

ul.links {
  max-width: 100vw;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: calc(var(--item-margin) * 3);
  margin-bottom: var(--item-margin);
  padding: 0;
}

.links > li {
  background-color: var(--red);
  height: var(--item-size);
  width: var(--item-size);
  min-width: var(--item-size);
  margin-right: calc(var(--item-margin) / 2);
  margin-left: calc(var(--item-margin) / 2);
  margin-bottom: var(--item-margin);
  text-align: center;
  box-shadow: 0 0 0 var(--white);
  transition: box-shadow 0.3s, background-color 0.3s;
}

.links > li:hover {
  box-shadow: calc(-1 * var(--item-shadow-displacement-small))
    var(--item-shadow-displacement-small) 0 var(--white);
}

.links > li:focus-within {
  box-shadow: calc(-1 * var(--item-shadow-displacement-large))
    var(--item-shadow-displacement-large) 0 var(--white);
}

.links > li:has(a:active) {
  background-color: var(--active-red);
}

.links > li > a {
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-size: var(--two);
}
