* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Tahoma';
    src: url('./Tahoma-Font/Tahoma Regular font.ttf');
}

body {
    position: relative;
    font-family: 'Tahoma';
    font-size: large;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    background: linear-gradient(to right, #6ea6f1, #2274f1);
}

body>* {
    z-index: 2;
    background: linear-gradient(to left, #afd01e, #6aa209);
    padding: 3vw 5vw;
}



h1,
h2,
h3,
h4 {
    margin: 0;
    text-shadow: -1px 1px 3px black;
}

h1 {
    color: #eaeaea;
}

h2 {
    color: #ffd62c;
    margin-bottom: 10px;
}

h3 {
    color: #ff6b21;
}

h4 {
    color: #8ebcf8;
    text-shadow: -1px 1px 2px black;
}

.known-technologies {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ref-to-98-css {
    font-family: "Pixelated MS Sans Serif", Arial;
}

.background-container {
    background: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background-container>.cloud-container {
    position: absolute;
    animation: 10s slide-by infinite linear;
}

.background-container > .cloud-container.one {
    left: 0;
    top: 0;
}

.background-container > .cloud-container.two {
    transform:  rotateY(180deg);
    top: 300px;
}

.background-container > .cloud-container.three {
    transform: translateX(-200px) rotateY(180deg);
    top: 200px;
}

.background-container>.cloud-container>.cloud {
    position: relative;
    filter: blur(50px);
}


.background-container>.cloud-container>.cloud>* {
    position: absolute;
    border-radius: 100px;
    background-color: #cacaca;
}

.background-container>.cloud-container>.cloud>.cloud-blob-1 {
    left: 0;
    top: 60px;
    width: 200px;
    height: 200px;
}

.background-container>.cloud-container>.cloud>.cloud-blob-2 {
    left: 100px;
    top: 0;
    width: 250px;
    height: 200px;
    transform: rotate(5deg);
}

.background-container>.cloud-container>.cloud>.cloud-blob-3 {
    left: 200px;
    top: 80px;
    width: 250px;
    height: 200px;
}

@keyframes slide-by {
    from {
        left: -500px;
    }

    to {
        left: 300%;
    }
}