* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-top: 0;
  background-color: #e9d6ee;
  font-family: "Roboto Mono", monospace;
}

#date-input,
#select-date-button {
  font-size: 30px;
  width: 550px;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

#date-input {
  border: 1px solid black;
  border-radius: 0;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

#select-date-button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: #6262e6;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  cursor: pointer;
}

#select-date-button:focus,
#date-input:focus {
  outline: 2px solid black;
}

p {
  font-size: 30px;
}

h1 {
  font-size: 40px;
}

.date-form {
  width: min-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}
