* {
  box-sizing: border-box;
}

html {
  font-size: xx-large;
  --whitish: #e9d6ee;
  --bluish: #6262e6;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-top: 1rem;
  background-color: var(--whitish);
  font-family: "Roboto Mono", monospace;
}

#date-input,
#select-date-button {
  font-size: 30px;
  width: 550px;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

#date-input {
  border: 1px solid black;
  border-radius: 0;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

#select-date-button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: var(--bluish);
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  cursor: pointer;
}

#select-date-button:focus,
#date-input:focus {
  outline: 2px solid black;
}

.date-form {
  width: min-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}

.shared-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--whitish);
  background-color: black;
  padding: 1rem 2rem;
}

.shared-date>#parsed-url-date-title {
  margin-top: 0;
  margin-bottom: 0rem;
}

.shared-date>p {
  padding: 0.2rem 1rem;
}

#parsed-url-date {
  background-color: #EF6461;
}