* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

:root {
  --color-1: #29acac;
  --color-2: #37a8a2;
  --color-3: #32a89e;
  --color-4: #38c0ca;
  --color-5: #10d6b5;
  --color-6: #68d3c5;
}

.c1 {
  background-color: var(--color-1);
}
.c2 {
  background-color: var(--color-2);
}
.c3 {
  background-color: var(--color-3);
}
.c4 {
  background-color: var(--color-4);
}
.c5 {
  background-color: var(--color-5);
}
.c6 {
  background-color: var(--color-6);
}

html {
  background-color: black;
}

body {
  margin: 0;
  height: 100vh;
}

.comparison {
  position: relative;
  width: 410px;
  height: 500px;
}

.picture,
.original-picture {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.original-picture {
  opacity: 0%;
  transition: opacity 0.5s;
}

.original-picture:hover {
  opacity: 100%;
}

/** WALL **/

/* VENECITAS */
.venecitas {
  display: flex;
  flex-direction: column;
}

.venecitas > .row {
  display: flex;
  flex-direction: row;
}

.venecita {
  box-sizing: border-box;
  width: 5px;
  height: 5px;
  border-top: 0.5px solid #d7d8d8;
  border-right: 0.5px solid #d7d8d8;
}

/* RAILING */
.railing-wrapper {
  filter: drop-shadow(-8px 14.5px 0.5px #000000a7);
  position: absolute;
  top: 200px;
  left: 95px;
}

.railing {
  transform: rotate(-32deg);
  width: 213px;
  height: 18px;
  clip-path: polygon(0 0, 100% 0, 97% 100%, 0 100%);
  background: linear-gradient(181deg, transparent, #e6b998 10%, transparent 15%),
    linear-gradient(to right, #753a1ecc, #cb7a4355 60%),
    linear-gradient(#ed924b, #ba4904, #da945e 80%);
}

/** STAIRS **/

.stairs {
  perspective: 400px;
}

.floor,
.step {
  position: absolute;
}

.step {
  width: 71px;
  height: 500px;
}

.floor {
  transform: translateY(-100px) translateX(-110px) rotateX(70deg);
}

.first.step {
  transform: translateY(-258px) translateX(236px) rotateX(70deg);
}

.second.step {
  transform: translateY(-218px) translateX(178px) rotateX(70deg);
}

.top.step {
  transform: translateY(-310px) translateX(290px) rotateX(70deg);
  width: 250px;
}

.floor > .row {
  display: flex;
  flex-direction: row;
}

.floor > .row > .tile {
  width: 71px;
  height: 141px;
}

.floor > .row > .tile,
.step {
  background-color: #31494d;
  border: 0.4px solid #a1b8bddd;
}
.floor > .row > .tile {
  border: 0.4px solid #a1b8bddd;
}

.step::before {
  content: "";
  position: absolute;
  top: 0;
  transform-origin: right;
}

.top.step::before {
  transform: skewY(97.1deg);
  height: 800px;
  width: 31px;
  left: -31px;
  background: #141d1f;
}

.first.step::before {
  transform: skewY(-87.5deg);
  height: 800px;
  width: 8px;
  left: -8px;
  background: #131b1d;
}

.second.step::before {
  transform: skewY(-87.5deg);
  height: 800px;
  width: 8px;
  left: -8px;
  background: #131b1dcc;
}

.about-venecitas {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-6);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a,
a:visited {
  color: var(--color-6);
}

h1 {
  font-size: 70px;
  font-weight: normal;
}
