/* I started learning about CSS 3d transformations the day before I made this.
 * I think this code is tidy and readable, but if you think I could improve it, issues are welcome on Github!
 */

* {
  box-sizing: border-box;
}

:root {
  /* Article colors */
  --background-color: black;
  --text-color: #a5a5a5;
  /* Image colors */
  --sky-bottom-color: #f9e2c3;
  --sky-top-color: #1f2025;
}

html {
  background-color: var(--background-color);
  font-family: "Vollkorn", serif;
  color: var(--text-color);
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 75px;
  font-weight: normal;
}

article.evening {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10vw;
  padding-right: 10vw;
}

.image {
  position: relative;
  height: 600px;
  width: 600px;
}

.image img {
  position: absolute;
  opacity: 0;
}

.image img:hover {
  opacity: 100%;
}

.image .recreation {
  height: 100%;
  width: 100%;
  background-color: rebeccapurple;
}

.image .recreation .background {
  height: 470px;
  width: 100%;
  background: linear-gradient(
    -0.98turn,
    var(--sky-bottom-color),
    #9f9097,
    #565d6d,
    #3e4758,
    var(--sky-top-color)
  );
}
